<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
    {{ partial "head.html" . }}
</head>

<body id="page">
    {{ partial "nav.html" . }}

    <section id="junior-bootcamp" class="bg-secondary junior-bootcamp">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Global Azure Junior</h2>

                    <hr>

                    <h3>Für Kinder und Jugendliche</h3>

                    <p class="text-faded">
                        Am 20. April 2024 werden im Rahmen des Global Azure-Events auf der ganzen
                        Welt hunderte Workshops zum Thema Cloud Computing und Microsoft Azure stattfinden. In Linz
                        machen wir parallel zu dieser Veranstaltung auch wieder eine <b>Junior Edition</b>, die sich an
                        <b>junge Coder zwischen 12 und 17 Jahren</b> richtet.
                    </p>

                    <hr>

                    <h3>Programmieren, Elektronik und Amateurfunk</h3>

                    <p class="text-faded">
                        Habt ihr <b>schon etwas Erfahrung beim Programmieren oder Elektronikbasteln</b> 
                        (z.B. mit Scratch, JavaScript, Python oder Ähnlichem)? Dann könnt Ihr im Global Azure Junior zum ersten Mal
                        Konferenz-Luft schnuppern. Ihr verbringt den Tag mit vielen Entwicklungs-Profis und könnt von
                        international gefragten Expertinnen und Experten lernen. Als besonderes Highlight organisieren 
                        wir dieses Jahr für euch einen <b>Amateurfunk-Workshop</b>.
                    </p>

                    <hr>

                    <h3>Ablauf</h3>

                    <p class="text-faded">
                        Der genaue Inhalt und Ablauf des Junior-Programms wird Anfang April bekannt gegeben.
                        Die Workshops werden voraussichtlich um 9:00 Uhr starten und bis ca 14:30 Uhr dauern.
                        Für kostenlose Verpflegung ist gesorgt.
                    </p>

                    <hr>

                    <h3>HTBLA Leonding</h3>

                    <p class="text-faded">
                        Das Global Azure Austria 2024 ist eine hybride Konferenz. Die Junior-Edition bieten wir jedoch
                        nur vorort an. Komm zu uns in die <b>HTBLA Leonding</b> und erlebe einen spannenden Tag mit
                        uns.
                    </p>

                    <hr>

                    <h3>Kostenlose Teilnahme</h3>

                    <p class="text-faded text-center">
                        Wir bedanken uns ganz besonders bei unserem <a href="/sponsors">Gold-Sponsor</a>
                        <b>Dynatrace</b>, der es uns ermöglicht, das Global Azure Junior kostenlos anzubieten.
                    </p>

                    <h3 class="join-us">Sei dabei am 20. April 2024! <a href="https://globalazure.at/tickets/">Ticket buchen...</a></h3>
                </div>
            </div>
        </div>
    </section>

    {{ partial "contact.html" . }}

    {{ partial "js.html" . }}
</body>

</html>