<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
    {{ partial "head.html" . }}
</head>

<body id="page">
    {{ partial "nav.html" . }}

    <section id="junior-bootcamp" class="bg-secondary junior-bootcamp">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Global Azure Junior</h2>

                    <hr>

                    <h3>Für Kinder und Jugendliche</h3>

                    <p class="text-faded">
                        Am 20. April 2024 werden im Rahmen des Global Azure-Events auf der ganzen
                        Welt hunderte Workshops zum Thema Cloud Computing und Microsoft Azure stattfinden. In Linz
                        machen wir parallel zu dieser Veranstaltung auch wieder eine <b>Junior Edition</b>, die sich an
                        <b>junge Coder zwischen 12 und 17 Jahren</b> richtet.
                    </p>

                    <hr>

                    <h3>Agenda</h3>

                    <p class="text-faded">
                        Beim diesjährigen Junior-Programm könnt ihr in drei Workshops spannende Dinge lernen und ausprobieren.
                        Wir starten mit einem Workshop zum Thema Löten und Elektronik. Danach zeigen wir euch die Grundlagen
                        von textueller Programmierung mit EasyLang. Zum Abschluss könnt ihr mit dem Microbit spannende Projekte
                        umsetzen. Details zum Programm findet ihr unter <a href="#schedule">Agenda</a>.
                    </p>

                    <hr>

                    <h3>HTBLA Leonding</h3>

                    <p class="text-faded">
                        Das Global Azure Austria 2024 ist eine hybride Konferenz. Die Junior-Edition bieten wir jedoch
                        nur vorort an. Komm zu uns in die <b>HTBLA Leonding</b> und erlebe einen spannenden Tag mit
                        uns.
                    </p>

                    <hr>

                    <h3>Kostenlose Teilnahme</h3>

                    <p class="text-faded text-center">
                        Wir bedanken uns ganz besonders bei unserem <a href="/sponsors">Gold-Sponsor</a>
                        <b>Dynatrace</b>, der es uns ermöglicht, das Global Azure Junior kostenlos anzubieten.
                    </p>

                    <h3 class="join-us">Sei dabei am 20. April 2024! <a href="https://globalazure.at/tickets/">Ticket buchen...</a></h3>
                </div>
            </div>
        </div>
    </section>

    <section id="schedule" class="bg-dark">
        <div class="container" id="sessions" style="max-width: 700px;">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Agenda</h2>
                    
                    <hr class="light">
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0">
                    <table class="table schedule">
                        <tr class="hidden-xs">
                            <th>GAA Junior</th>
                        </tr>

                        <tr><td class="session" colspan="3">
                            <div>
                                <div class="label label-default"><span class="timeslot">09:00 - 10:45</span>
                                </div>
                                Löten und Elektronik<br/>
                                <br/>
                                Der GAA-Tag startet mit Löten und Elektronik. Wir haben verschiedene Bausätze für euch, die Ihr
                                gemeinsam mit den Mentorinnen und Mentoren bauen könnt. Es gibt Bausätze für verschiedene Schwierigkeitsgrade.
                                Wir helfen euch, das Richtige passend zu eurem Vorwissen auszusuchen.
                            </div>
                        </td></tr>

                        <tr><td class="session" colspan="3">
                            <div>
                                <div class="label label-default"><span class="timeslot">10:45 - 11:15</span>
                                </div>
                                Pause (Snacks und Getränke)
                            </div>
                        </td></tr>

                        <tr><td class="session" colspan="3">
                            <div>
                                <div class="label label-default"><span class="timeslot">11:15 - 12:30</span>
                                </div>
                                Programmieren mit EasyLang<br/>
                                <br/>
                                Im zweiten Workshop zeigt euch unser Mentor Christof die Grundlagen von textueller Programmierung
                                mit Easylang. Christof hat Easylang selbst entwickelt und
                                wird euch zeigen, wie Euch damit ein guter Einstieg in die Welt der Softwareentwicklung gelingt.
                            </div>
                        </td></tr>

                        <tr><td class="session" colspan="3">
                            <div>
                                <div class="label label-default"><span class="timeslot">12:30 - 13:30</span>
                                </div>
                                Mittagspause (mit Essen)
                            </div>
                        </td></tr>

                        <tr><td class="session" colspan="3">
                            <div>
                                <div class="label label-default"><span class="timeslot">13:30 - 15:15</span>
                                </div>
                                Programmieren mit Microbit<br/>
                                <br/>
                                Microbit ist ein kleiner Computer, der speziell für Jugendliche entwickelt wurde, die ins
                                Programmieren einsteigen. Beim GAA ist das Team vom COOL Lab der Johannes Kepler
                                Universität Linz dabei und zeigt euch, wie ihr mit dem Microbit spannende Projekte umsetzen könnt.
                            </div>
                        </td></tr>
                    </table>
                </div>
            </div>
        </div>
    </section>

    {{ partial "contact.html" . }}

    {{ partial "js.html" . }}
</body>

</html>