<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
    {{ partial "head.html" . }}
</head>

<body id="page">
    {{ partial "nav.html" . }}

    <section id="junior-bootcamp" class="bg-secondary junior-bootcamp">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Junior Bootcamp</h2>

                    <hr>

                    <h3>Für Kinder und Jugendliche</h3>

                    <p class="text-faded">
                        Am 6. Mai 2022 werden im Rahmen des Global Azure Austria auf der ganzen
                        Welt hunderte Workshops zum Thema Cloud Computing und Microsoft Azure stattfinden. In Linz
                        machen wir parallel zu dieser Veranstaltung auch wieder eine <b>Junior Edition</b>, die sich an
                        <b>junge Coder zwischen 13 und 17 Jahren</b> richtet.
                    </p>

                    <hr>

                    <h3>Programmieren und Elektronik</h3>

                    <p class="text-faded">
                        Habt ihr <b>schon etwas Erfahrung beim Programmieren oder Elektronikbasteln</b> 
                        (z.B. mit Scratch, JavaScript, Python oder Ähnlichem)? Dann könnt Ihr im Junior Bootcamp zum ersten Mal
                        Konferenz-Luft schnuppern. Ihr verbringt den Tag mit vielen Entwicklungs-Profis und könnt von
                        international gefragten Expertinnen und Experten lernen.
                    </p>

                    <hr>

                    <h3>Virtuelle Konferenz</h3>

                    <p class="text-faded">
                        Wie letztes Jahr ist das <i>Junior Global Azure Austria 2022</i> wieder eine virtuelle Konferenz. 
                        Ihr könnt wie beim <a href="https://linz.coderdojo.net" target="_blank">CoderDojo Linz</a>
                        an den Workshops über <i>Zoom</i> teilnehmen.
                    </p>

                    <p class="text-faded text-center">
                        Die Teilnahme am Event ist dank der Sponsoren kostenlos.
                    </p>

                    <h3 class="join-us">Sei dabei am 6. Mai 2022!</h3>
                </div>
            </div>
        </div>
    </section>

    <!-- {{ partial "call-for-speakers.html" . }} -->
    
    <!-- {{ partial "tickets-junior.html" . }} -->
    
    <!-- {{ partial "schedule-junior.html" . }} -->
    
    <!-- {{ partial "newsletter.html" . }} -->

    <!-- {{ partial "location-junior.html" . }} -->

    {{ partial "sponsors.html" . }}

    {{ partial "contact.html" . }}

    {{ partial "js.html" . }}
</body>

</html>