{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-secondary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Azure and Cloud Computing Conference</h2>

                <hr>

                <h3>Austrian Edition of Global Azure 2025</h3>

                <p class="text-faded">
                    <a href="https://globalazure.net" target="_blank">Global Azure</a> is a 3-day virtual conference in
                    which communities
                    around the world organize events to learn about Cloud Computing and Microsoft Azure.
                    This is the Austrian edition of Global Azure 2025 provided by the Coding Club Linz.<br />
                    <br />
                    <b>Global Azure Austria is from the community, for the community and thanks to our
                        great <a href="/sponsors">sponsors</a> free for everybody.</b>
                </p>

                <hr>

                <h3>We Are Hybrid, and there is great food!</h3>

                <p class="text-faded">
                    After some years as a virtual conference, 2025 will be a hybrid event. You can join us
                    in person at the <a href="https://www.megaplex.at/kino/hollywood-megaplex-pasching"
                        target="_blank">Hollywood Megaplex PlusCity</a> or watch
                    sessions in the live stream.<br />
                    <br />
                    Vegetarian food (vegan options will be available, too) and drinks for all registered attendees will
                    be provided<!-- by <a href="https://www.good-karma.at/" target="_blank">Good Karma Gastro</a>-->. A
                    big thank you goes to our <a href="/sponsors">sponsors</a> for making free food and drinks possible!
                </p>

                <hr>

                <h3>Everything Live!</h3>

                <p class="text-faded">
                    As a hybrid event, we have speakers on-site and remote. All sessions - including the
                    remote ones - will be live and interactive. You can ask questions and discuss with the
                    speakers and other attendees.
                </p>

                <hr>

                <h3>German and English Content</h3>

                <p class="text-faded">
                    In order to offer content
                    for a broad audience, we have sessions delivered in German and sessions in English so
                    that people who do not understand German fluently can participate in the event, too.
                </p>

                <h3 class="join-us">Join us on Saturday, May 10th, 2025!</h3>
            </div>
        </div>
    </div>
</section>

<!-- 
<section class="bg-dark" id="video">
    <div class="container">
        <div class="row">
            <h2 class="section-heading">Welcome to Global Azure Austria 2025!</h2>
            <div class="col">
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/a5yvCclbYyk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section> -->


<section id="abount-2">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user wow bounceIn text-primary"></i>
                    <h3>Speakers</h3>
                    <p class="text-muted">
                        Internationally highly respected speakers will share their knowledge about
                        topics around Azure and Cloud Computing.
                    </p>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Sponsors</h3>
                    <p class="text-muted">
                        Thanks to the generous support of our great sponsors
                        the event will be free for everybody.
                    </p>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary"></i>
                    <h3>Community</h3>
                    <p class="text-muted">
                        Organized by the community for the community. Exchange ideas with developers
                        from all over Austria.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>