
<section id="build-ai-day" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                
                <img src="/img/build-ai-day.png" class="index">
                
                <h2 class="section-heading">Do you want even more AI?</h2>
                
                <p class="text-faded">
                    On April, 4th, Microsoft hosts the <em>Microsoft Build: AI Day</em>.
                    The event is all about accelerating developer productivity. Here are more 
                    details about the event from our Platinum sponsor Microsoft:
                </p>
                <p class="text-faded">
                    <a href="https://msevents.microsoft.com/event?id=3431470856" target="_blank">Register for Microsoft Build: AI Day</a> 
                    in the Microsoft Office in Vienna. This free, one-day event helps developers discover new 
                    opportunities with AI and advance their knowledge and skills to deliver more value faster with AI 
                    and Microsoft Azure. During this event, you'll be able to discover new opportunities 
                    with generative AI and be the first to learn about the latest innovations.  Furthermore 
                    you can connect with Microsoft engineers and industry experts, explore how to infuse 
                    responsible AI practices throughout your development lifecycle with state-of-the-art tools 
                    and learn to be more efficient as a developer using GitHub Copilot and participate in a 
                    hackathon. Join us and learn what every developer needs to know about AI today!  
                </p>

                <a href="https://msevents.microsoft.com/event?id=3431470856" target="_blank" class="btn btn-primary btn-xl page-scroll">
                    Register for Microsoft Build: AI Day
                </a>
            </div>
        </div>
    </div>
</section>