
<section class="bg-dark" id="bus-graz">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                
                <img src="/img/bus_graz.webp" class="index">
                
                <h2 class="section-heading">Bus From Graz</h2>
                
                <p class="text-faded">
                    Thanks to our sponsor <a href="/sponsors/#Guid.New">Guid.New</a>,
                    we can offer a bus from Graz to Leonding and back. The bus is free for all attendees.
                    You can find details about the bus and the schedule on the 
                    <a href="https://www.meetup.com/microsoftdevelopergraz/events/299908693/" target="_blank">
                        Meetup page of the Microsoft Developer User Group Graz
                    </a>. If you want to have a seat in the bus, <b>register for the 
                        <a href="https://www.meetup.com/microsoftdevelopergraz/events/299908693/" target="_blank">meetup</a></b>. 
                        We will inform you about details via _meetup.com_.
                    </b>.
                </p>
            </div>
        </div>
    </div>
</section>