
<section class="bg-dark" id="bus-graz">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                
                <div class="video-container">
                    <img src="/img/bus_graz.webp">
                </div>
                
                <h2 class="section-heading">Bus From Graz</h2>
                
                <p class="text-faded">
                    Thanks to our sponsor <a href="http://localhost:1313/sponsors/#Guid.New">Guid.New</a>,
                    we can offer a bus from Graz to Leonding and back. The bus is free for all attendees.
                    You can find details about the bus and the schedule on the 
                    <a href="https://www.meetup.com/microsoftdevelopergraz/events/299908693/" target="_blank">
                        Meetup page of the Microsoft Developer User Group Graz
                    </a>. You can reserve your spot on the bus during the 
                    <a href="/tickets">registration process</a>.
                </p>
            </div>
        </div>
    </div>
</section>