{{ "<!-- CALL FOR PROPOSALS -->" | safeHTML }}
<section id="call-for-speakers" class="bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Call For Speakers</h2>
                <hr>
                <p>
                    We are looking for insightful and practical talks, each lasting around 45 minutes. If you’re
                    passionate about Azure and want to share your expertise with the community then we'd love to hear
                    from you.
                </p>
            </div>

            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                <a href="https://sessionize.com/gaa-2023/" target="_blank" class="btn btn-primary"><i
                        class="fa fa-microphone wow bounceIn" data-wow-delay=".1s"></i>&nbsp;&nbsp;&nbsp;Submit session
                </a>
            </div>
        </div>
    </div>
</section>