{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-secondary" id="coding-contest">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Battleship Coding Contest</h2>
                <hr>
                <p>
                    Take part in the Battleship Coding Contest.
                </p>
            </div>

            <div class="col-sm-12">
                {{ with .Site.BaseURL }}
                    <battleship-player-management redirect-uri="{{ . }}battleship/"></battleship-player-management>
                {{ end }}
            </div>
        </div>
    </div>
</section>

<section class="" id="coding-contest">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Battleship Ranking</h2>
                <hr>
                <p>
                    Here are the most successful players.
                </p>
            </div>

            <div class="col-sm-12">
                <battleship-ranking></battleship-ranking>
            </div>
        </div>
    </div>
</section>
