{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-0 col-sm-8 col-sm-offset-2 text-center">
                <h3 class="section-heading">Content</h3>
                <ul class="footer-content">
                    <li>
                        <a class="page-scroll" href="{{ cond (eq .Page.Dir "") "" "/" }}#about">{{ .Site.Params.navigation.links.about }}</a>
                    </li>
                    <!-- <li>
                        <a class="page-scroll"
                            href="{{ cond (eq .Page.Dir "") "" "/" }}#tickets">{{ .Site.Params.navigation.links.tickets }}</a>
                    </li> -->
                    <!-- <li>
                        <a class="page-scroll" href="{{ cond (eq .Page.Dir "") "" "/" }}#schedule">{{ .Site.Params.navigation.links.schedule }}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ cond (eq .Page.Dir "") "" "/" }}#speakers">{{ .Site.Params.navigation.links.speakers }}</a>
                    </li> -->
                    <!-- <li>
                        <a class="page-scroll"
                            href="{{ cond (eq .Page.Dir "") "" "/" }}#travel">{{ .Site.Params.navigation.links.location }}</a>
                    </li> -->
                    <li class="{{ cond (eq .Page.Dir "sessions-2021\\") "active" "" }}">
                        <a href="/sessions-2021">Sessions 2021</a>
                    </li>
                    <li>
                        <a class="{{ cond (eq .Page.Dir "junior-bootcamp\\") "active" "" }}" href="/junior-bootcamp">{{ .Site.Params.navigation.links.juniorBootcamp }}</a>
                    </li>
                    <!-- <li>
                        <a class="{{ cond (eq .Page.Dir "junior-bootcamp\\") "active" "" }}" href="/junior-bootcamp#schedule">{{ .Site.Params.navigation.links.juniorBootcampSchedule }}</a>
                    </li> -->
                    <li class="{{ cond (eq .Page.Dir "sponsors\\") "active" "" }}">
                        <a href="https://hopin.com/events/global-azure-austria-2022/#sponsors" target="_blank">{{ .Site.Params.navigation.links.sponsors }}</a>
                    </li>
                    <li class="{{ cond (eq .Page.Dir "code-of-conduct\\") "active" "" }}">
                        <a href="/code-of-conduct">{{ .Site.Params.navigation.links.codeOfConduct }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-lg-offset-0 col-sm-8 col-sm-offset-2 text-center">
                <hr class="light visible-sm-block visible-md-block visible-sm-block visible-xs-block">
                <h3 class="section-heading">Contact</h3>
                <p class="text-faded">
                    The Global Azure Bootcamp Linz is organized by the Coding Club Linz e.V., Birkenweg 16, A-4060
                    Leonding. Contact us to get more information on sponsorship and speaking opportunities.
                </p>
                <!-- <a href="mailto:{{ .Site.Params.contact.email }}"><i class="fa fa-envelope-o fa-3x wow bounceIn"
                        data-wow-delay=".1s"></i>
                    <p>{{ .Site.Params.contact.email }}</p>
                </a> -->

                <p>
                    <a class="email-link" href="mailto:{{ .Site.Params.contact.email }}">
                        <i class="fa fa-envelope"></i>{{ .Site.Params.contact.email }}</a>
                    <br />
                    <a class="discord-link" href="https://discord.gg/CVGFZFy" target="_blank">
                        <img src="/img/Discord-Logo-White.png">Join us on Discord</a>
                </p>
            </div>

            <div class="col-lg-4 col-lg-offset-0 col-sm-8 col-sm-offset-2 text-center" id="mc_embed_signup">
                <form action="https://timecockpit.us5.list-manage.com/subscribe/post?u=f628a14a6f934bf75e14ef1c3&amp;id=8137ea1fb7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <hr class="light visible-sm-block visible-md-block visible-sm-block visible-xs-block">
                    <h3 class="section-heading">Join Our Mailing List</h3>
                    <p class="text-faded">Sign up to receive updates about Global Azure Bootcamp Linz, including speaker previews, Call
                        for Proposal details and other exclusive content. We won’t spam you and you can unsubscribe at
                        any time.</p>

                    <p>
                        <input type="email" class="form-control" placeholder="Enter your email address" value="" name="EMAIL" class="required email" id="mce-EMAIL" />
                    </p>

                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="b_f628a14a6f934bf75e14ef1c3_8137ea1fb7" tabindex="-1" value="">
                    </div>

                    <p class="text-center">
                        <input type="submit" class="btn btn-primary btn-block" name="subscribe" id="mc-embedded-subscribe" value="Submit"></button>
                    </p>

                    <p>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                    </p>
            </div>
            </form>

            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
            <script type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
        </div>
    </div>
    </div>
</section>