{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <!-- {{ with .Site.Params.hero.slogan }}
                <h1>{{ . | markdownify  }}</h1>
            {{ end }} -->
            <img src="/img/gab2023.png" class="hero-image">

            <!-- <h1>Global Azure Bootcamp Linz</h1> -->
            <p class="title">Global Azure Austria 2023</p>
            <p class="date">Friday, May 12th, 2023</p>

            {{ with .Site.Params.hero.buttonText }}
            <a href="#about" class="btn btn-primary btn-xl page-scroll"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i> {{ . }}</a>
            {{ end }}
        </div>
    </div>
</header>