{{ "<!-- NAVIGATION -->" | safeHTML }}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll"
                        href="{{ cond (eq .File.Dir "") "" "/" }}#about">{{ .Site.Params.navigation.links.about }}</a>
                </li>
                <li>
                    <a class="page-scroll"
                        href="{{ cond (eq .File.Dir "") "" "/" }}#schedule">{{ .Site.Params.navigation.links.schedule }}</a>
                </li>
                <li class="{{ cond (eq .Page.Title "Sponsors") "active" "" }}">
                    <a href="/sponsors">{{ .Site.Params.navigation.links.sponsors }}</a>
                </li>
                <!-- <li class="{{ cond (eq .Page.Title "Streaming") "active" "" }}">
                    <a href="/streaming">Streaming</a>
                </li> -->
                <!-- <li class="{{ cond (eq .Page.Title "Speakers") "active" "" }}">
                    <a href="/speakers">{{ .Site.Params.navigation.links.speakers }}</a>
                </li> -->
                <li class="{{ cond (eq .Page.Title "Sessions") "active" "" }}">
                    <a href="/sessions">{{ .Site.Params.navigation.links.sessions }}</a>
                </li>
                <li class="{{ cond (eq .Page.Title "Tickets") "active" "" }}">
                    <a href="/tickets">Tickets</a>
                </li>
                <li class="{{ cond (eq .Page.Title "Code of Conduct") "active" "" }}">
                    <a href="/code-of-conduct">COC</a>
                </li>
            </ul>
        </div>
        {{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
    {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>