{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="register">
    <div class="container">
        <div class="row" id="mc_embed_signup">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Registration</h2>

                    <hr class="light">

                    <p class="text-faded">
                        Registration for Global Azure Austria 2022 is already open. Make sure to register
                        soon to secure a ticket. Global Azure Austria is a community event and therefore
                        tickets are free for everybody.
                    </p>

                    <hr class="light">

                    {{ with .Site.Params.hero.buttonText }}
                    <a href="https://hopin.com/events/global-azure-austria-2022" class="btn btn-primary btn-xl" target="_blank">Register</a>
                    {{ end }}
                </div>
        </div>
    </div>
</section>