{{ $shortLinkQuestionId := (index (where $.Site.Data.Y2022.sessionize.questions "question" "Short Link") 0).id }}
{{ $youTubeVideoQuestionId := (index (where $.Site.Data.Y2022.sessionize.questions "question" "YouTube Video") 0).id }}
{{ $streamingUrlQuestionId := (index (where $.Site.Data.Y2022.sessionize.questions "question" "Streaming URL") 0).id }}
<section id="schedule-junior" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Zeitplan Junior Global Azure</h2>
                <hr class="light">
                <p>
                    Hier findet ihr den Zeitplan zum Junior Global Azure. Weitere Workshops für Programmieranfänger zum Mitmachen gibt's beim <a href="https://linz.coderdojo.net/termine" target="_blank">CoderDojo Linz</a>.
                </p>

            </div>

            <div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0">
                <table class="table schedule schedule-junior">
                    <!-- <tr class="hidden-xs">
                        {{ range $room := $.Site.Data.Y2022.rooms.rooms }}
                        <th>Theater {{ .roomNumber }}</th>
                        {{ end }}
                    </tr> -->
                    {{ range $timeslot := $.Site.Data.Y2022.timeslotsjunior.timeslots }}
                    <tr class="{{ if eq $timeslot.isServiceTimeslot true }}service-session{{ end }}">

                        {{ if eq $timeslot.isServiceTimeslot true }}
                        <td colspan="1" class="service-session">
                            {{ range (where (where $.Site.Data.Y2022.sessionize.sessions "isServiceSession" true ) "startsAt" $timeslot.startsAt) }}
                            <span class="service-session-time">{{ dateFormat "15:04" .startsAt }} -
                                {{ dateFormat "15:04" .endsAt }}</span>{{ $timeslot.description }}
                            {{ end }}
                        </td>
                        {{ end }}

                        {{ if eq $timeslot.isServiceTimeslot false }}
                        <!-- <td class="visible-xs">{{ dateFormat "15:04" .startsAt }} - {{ dateFormat "15:04" .endsAt }}
                        </td> -->
                        {{ range $room := $.Site.Data.Y2022.roomsjunior.rooms }}
                        <td class="session">
                            <div class="row">
                                <div class="col-sm-12">
                                    {{ if eq (len (where (where ($.Site.Data.Y2022.sessionize.sessions) "roomId" .id ) "startsAt" $timeslot.startsAt)) 0 }}
                                    <div class="timeslot">{{ dateFormat "15:04" $timeslot.startsAt }} -
                                        {{ dateFormat "15:04" $timeslot.endsAt }}</div>
                                    wird in den nächsten Wochen bekanntgegeben
                                    {{ end }}

                                    {{ range (where (where ($.Site.Data.Y2022.sessionize.sessions) "roomId" .id ) "startsAt" $timeslot.startsAt) }}
                                    {{ if in .categoryItems 77273 }}
                                    <div class="label label-default"><div class="timeslot">
                                        {{ dateFormat "15:04" $timeslot.startsAt }} - {{ dateFormat "15:04" .endsAt }}</div></div>

                                    {{ range where (index $.Site.Data.Y2022.sessionize.categories 1).items "id" "in" .categoryItems }}
                                    {{ if eq .name "English" }}
                                    <span class="label label-default">{{ .name }}</span>
                                    {{ end }}
                                    {{ end }}  
                                    
                                </div>
                                <div class="col-md-8">
                                    <h4>{{ .title }}</h4>
                                    <div class="description text-faded">{{ safeHTML  (replace .description "\r\n" "<br/>") }}</div>

                                    {{ $youTubeVideoQuestionId := (index (where $.Site.Data.Y2022.sessionize.questions "question" "YouTube Video") 0).id }}
                                    {{ $shortLinkQuestionId := (index (where $.Site.Data.Y2022.sessionize.questions "question" "Short Link") 0).id }}
                                    <!-- <div class="calendar-link text-center">
                                        {{ range $question := .questionAnswers }}
                                        {{ if eq (int $question.questionId) (int $youTubeVideoQuestionId) }}
                                        <!- - <a class="btn btn-primary btn-xs float-left" href="/ics/{{$question.answerValue}}.ics" download><i class="fa fa-calendar"
                                                aria-hidden="true"></i>Add
                                            to calendar</a> - ->
                                        <a class="btn btn-primary btn-xs" href="{{$question.answerValue}}" target="_blank"><i
                                                class="fa fa-video-camera" aria-hidden="true"></i>Open in YouTube</a>
                                        {{ end }}
                                        {{ end }}
                                    </div> -->

                                    <!-- {{ range where $.Site.Data.Y2022.sessionize.speakers "id" "in" .speakers }}
                                    <h5>About {{ .firstName }} {{ .lastName }}</h5>
                                    <p class="text-faded bio">{{ .bio }}</p>
                                    <div class="speaker">
                                    {{ range .links }}
                                    <div class="link"><a href="{{ .url }}" target="_blank">
                                        {{ with eq .linkType "LinkedIn"}}<i class="fa fa-linkedin" aria-hidden="true"></i>{{ end }}{{ with eq .linkType "Blog"}}<i class="fa fa-rss" aria-hidden="true"></i>{{ end }}{{ with eq .linkType "Company_Website"}}<i class="fa fa-home" aria-hidden="true"></i>{{ end }}{{ with eq .linkType "Other"}}<i class="fa fa-link" aria-hidden="true"></i>{{ end }}{{ with eq .linkType "Twitter"}}<i class="fa fa-twitter" aria-hidden="true"></i>{{ end }}{{ with eq .linkType "Instagram"}}<i class="fa fa-instagram" aria-hidden="true"></i>{{ end }}{{ .url }}</a></div>
                                    {{ end }}
                                    </div>
                                    {{ end }} -->
                                </div>

                                <div class="col-md-4 text-center">
                                    {{ range $index, $speaker := where $.Site.Data.Y2022.sessionize.speakers "id" "in" .speakers }}
                                    <div class="speaker">
                                        <figure class="avatar"><img src="{{ .profilePicture }}" alt="{{ .firstName }} {{ .lastName }}">
                                        </figure>
                                        <h4><span onclick="$('#{{ $speaker.id }}').modal({})">{{ .firstName }} {{ .lastName }}</span></h4>
                                        <h5>{{ .tagLine }}</h5>
                                    </div>
                                    {{ end }}
                                </div>
                                {{ end }}
                                {{ end }}                                  
                            </div>
                        </td>
                        {{ end }}
                        {{ end }}
                    </tr>
                    {{ end }}
                </table>
            </div>
        </div>
    </div>
</section>

{{ range sort $.Site.Data.Y2022.sessionize.speakers ".lastName" }}
<div class="modal fade schedule-speaker" id="{{ .id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ .firstName }} {{ .lastName }}</h4>
            </div>
            <div class="modal-body speaker">
                <figure class="avatar"><img src="{{ .profilePicture }}" alt="{{ .firstName }} {{ .lastName }}">
                </figure>
                <h5><b>{{ .tagLine }}</b></h5>

                <p class="text-muted bio">{{ .bio }}</p>

                <h5><b>Sessions</b></h5>
                <p class="sessions">
                    <ul>
                    {{ range where $.Site.Data.Y2022.sessionize.sessions "id" "in" (apply .sessions "string" ".") }}

                    <li><a href="/sessions#{{.id}}">{{ .title }}</a></li>
                    {{ end }}
                    </ul>
                </p>

                <h5><b>Links</b></h5>
                <p><ul>{{ range .links }}
                    <li><a href="{{ .url }}" target="_blank">{{ .title }}</a></li>
                    {{ end }}</ul>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{{ end }}