<!--//{{ $shortLinkQuestionId := (index (where $.Site.Data.Y2024.sessionize.questions "question" "Short Link") 0).id }}-->
<!-- {{ $youTubeVideoQuestionId := (index (where $.Site.Data.Y2024.sessionize.questions "question" "YouTube Video") 0).id }} -->
<!--//{{ $streamingUrlQuestionId := (index (where $.Site.Data.Y2024.sessionize.questions "question" "Streaming URL") 0).id }}-->
<section id="schedule" class="bg-dark">
    <div class="container" id="sessions">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Schedule</h2>
                <hr class="light">
                <p>
                    Below is the preliminary conference schedule. Until mid March we will provide the final
                    schedule including all breakout sessions and keynote titles.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0">
                <table class="table schedule">
                    <tr class="hidden-xs">
                        <th></th>
                        <th>Main Stage</th>
                        <th>Breakout Room 1</th>
                        <th>Breakout Room 2</th>
                    </tr>
                    {{ range $timeslot := $.Site.Data.Y2024.timeslots.timeslots }}
                    <tr>
                        <td class="visible-xs">{{ dateFormat "15:04" .startsAt }} - {{ dateFormat "15:04" .endsAt }}
                        </td>
                        {{ range $room := where $.Site.Data.Y2024.rooms.rooms "name" "Main Stage" }}
                            <td class="session" colspan="4" style="text-align: center;">
                            {{ if (eq (dateFormat "15:04" $timeslot.startsAt) "09:00") }}
                                <div>
                                    <div class="label label-default"><span class="timeslot">{{ dateFormat "15:04" $timeslot.startsAt }} - {{ dateFormat "15:04" $timeslot.endsAt }}</span>
                                    </div>
                                    Morning Keynote
                                </div>
                            {{ end }}
                            {{ if (eq (dateFormat "15:04" $timeslot.startsAt) "10:00") }}
                                <div>
                                    <div class="label label-default"><span class="timeslot">{{ dateFormat "15:04" $timeslot.startsAt }} - {{ dateFormat "15:04" $timeslot.endsAt }}</span>
                                    </div>
                                    Breakout Sessions
                                </div>
                            {{ end }}
                            {{ if (eq (dateFormat "15:04" $timeslot.startsAt) "10:45") }}
                                <div>
                                    <div class="label label-default"><span class="timeslot">{{ dateFormat "15:04" $timeslot.startsAt }} - {{ dateFormat "15:04" $timeslot.endsAt }}</span>
                                    </div>
                                    Coffee Break
                                </div>
                            {{ end }}
                            {{ if (eq (dateFormat "15:04" $timeslot.startsAt) "11:00") }}
                                <div>
                                    <div class="label label-default"><span class="timeslot">{{ dateFormat "15:04" $timeslot.startsAt }} - {{ dateFormat "15:04" $timeslot.endsAt }}</span>
                                    </div>
                                    Breakout Sessions
                                </div>
                            {{ end }}
                            {{ if (eq (dateFormat "15:04" $timeslot.startsAt) "12:00") }}
                                <div>
                                    <div class="label label-default"><span class="timeslot">{{ dateFormat "15:04" $timeslot.startsAt }} - {{ dateFormat "15:04" $timeslot.endsAt }}</span>
                                    </div>
                                    Lunch Keynote
                                </div>
                            {{ end }}
                            {{ if (eq (dateFormat "15:04" $timeslot.startsAt) "12:30") }}
                                <div>
                                    <div class="label label-default"><span class="timeslot">{{ dateFormat "15:04" $timeslot.startsAt }} - {{ dateFormat "15:04" $timeslot.endsAt }}</span>
                                    </div>
                                    Lunch
                                </div>
                            {{ end }}
                            {{ if (eq (dateFormat "15:04" $timeslot.startsAt) "13:30") }}
                                <div>
                                    <div class="label label-default"><span class="timeslot">{{ dateFormat "15:04" $timeslot.startsAt }} - {{ dateFormat "15:04" $timeslot.endsAt }}</span>
                                    </div>
                                    Breakout Sessions
                                </div>
                            {{ end }}
                            {{ if (eq (dateFormat "15:04" $timeslot.startsAt) "14:15") }}
                                <div>
                                    <div class="label label-default"><span class="timeslot">{{ dateFormat "15:04" $timeslot.startsAt }} - {{ dateFormat "15:04" $timeslot.endsAt }}</span>
                                    </div>
                                    Coffee Break
                                </div>
                            {{ end }}
                            {{ if (eq (dateFormat "15:04" $timeslot.startsAt) "14:30") }}
                                <div>
                                    <div class="label label-default"><span class="timeslot">{{ dateFormat "15:04" $timeslot.startsAt }} - {{ dateFormat "15:04" $timeslot.endsAt }}</span>
                                    </div>
                                    Breakout Sessions
                                </div>
                            {{ end }}
                            </td>
                        
                            {{ end }}
                    </tr>
                    {{ end }}
                </table>
            </div>
        </div>
    </div>
</section>
