{{ "<!-- CALL FOR PROPOSALS -->" | safeHTML }}
<section id="session-recordings" class="bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Session Recordings</h2>
                <hr>
                <p>
                    Are you looking for a session recording from GAA events in previous years? You can find
                    all of them in playlists on our YouTube channel:
                </p>
            </div>

            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                <a href="https://www.youtube.com/playlist?list=PLGnjm7DS6WaPXtDASvTk6lAyMsRgGmFi1" target="_blank" class="btn btn-primary"><i
                    class="fa fa-brands fa-youtube wow bounceIn" data-wow-delay=".1s"></i>&nbsp;&nbsp;&nbsp;GAA 2023</a>
                <a href="https://www.youtube.com/playlist?list=PLGnjm7DS6WaOSXqqePUBEZThkqnAo3Cbd" target="_blank" class="btn btn-primary"><i
                    class="fa fa-brands fa-youtube wow bounceIn" data-wow-delay=".1s"></i>&nbsp;&nbsp;&nbsp;GAA 2022</a>
                <a href="https://www.youtube.com/playlist?list=PLGnjm7DS6WaNYdmDapn-2JdCuPZqImK7z" target="_blank" class="btn btn-primary"><i
                    class="fa fa-brands fa-youtube wow bounceIn" data-wow-delay=".1s"></i>&nbsp;&nbsp;&nbsp;GAA 2021</a>
                <a href="https://www.youtube.com/playlist?list=PLGnjm7DS6WaOl2M4sNW5SHd2g8AOQ3nce" target="_blank" class="btn btn-primary"><i
                    class="fa fa-brands fa-youtube wow bounceIn" data-wow-delay=".1s"></i>&nbsp;&nbsp;&nbsp;GAA 2020</a>
                </a>
            </div>
        </div>
    </div>
</section>