{{ "<!-- ABOUT -->" | safeHTML }}
<section id="speakers" class="speakers bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Speakers</h2>

                <hr class="light">

                <p><b><a class="page-scroll" href="#newsletter">Join our mailing list</a> to receive updates.</b>
                </p>
            </div>
        </div>

        <div class="row equal">
            {{ range sort $.Site.Data.sessionize.speakers ".lastName" }}
            <div class="col-md-3 col-sm-4 col-xs-12 text-center">
                <div class="speaker" onclick="$('#{{ .id }}').modal({})">
                    <figure class="avatar"><img src="{{ .profilePicture }}" alt="{{ .firstName }} {{ .lastName }}">
                    </figure>
                    <h4>{{ .firstName }} {{ .lastName }}</h4>
                    <h5>{{ .tagLine }}</h5>
                </div>
            </div>

            {{ end }}
        </div>

    </div>
</section>

{{ range sort $.Site.Data.sessionize.speakers ".lastName" }}
<div class="modal fade" id="{{ .id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                &nbsp;
                <!-- <h4 class="modal-title" id="myModalLabel">{{ .firstName }} {{ .lastName }}</h4> -->
            </div>
            <div class="modal-body speaker">
                <figure class="avatar"><img src="{{ .profilePicture }}" alt="{{ .firstName }} {{ .lastName }}">
                </figure>
                <h4>{{ .firstName }} {{ .lastName }}</h4>
                <h5><b>{{ .tagLine }}</b></h5>

                <div class="text-faded bio">{{ .bio | markdownify }}</div>

                <h5><b>Sessions</b></h5>
                <p class="sessions">
                    {{ range where $.Site.Data.sessionize.sessions "id" "in" (apply .sessions "string" ".") }}
                    
                    <div class="link"><i class="fa fa-microphone" aria-hidden="true"></i><a href="/sessions#{{.id}}">{{ .title }}</a></div>
                    {{ end }}
                </p>

                <h5><b>Links</b></h5>
                {{ range .links }}
                    <div class="link"><a href="{{ .url }}" target="_blank">
                        {{ with eq .linkType "LinkedIn"}}<i class="fa fa-linkedin" aria-hidden="true"></i>{{ end }}{{ with eq .linkType "Blog"}}<i class="fa fa-rss" aria-hidden="true"></i>{{ end }}{{ with eq .linkType "Company_Website"}}<i class="fa fa-home" aria-hidden="true"></i>{{ end }}{{ with eq .linkType "Other"}}<i class="fa fa-link" aria-hidden="true"></i>{{ end }}{{ with eq .linkType "Twitter"}}<i class="fa fa-twitter" aria-hidden="true"></i>{{ end }}{{ with eq .linkType "Instagram"}}<i class="fa fa-instagram" aria-hidden="true"></i>{{ end }}{{ .url }}</a></div>
                {{ end }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{{ end }}