{{ "<!-- ABOUT -->" | safeHTML }}
<section id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Sponsors</h2>

                <hr class="primary">

                <p class="text-muted">Our great sponsors make Global Azure Bootcamp Linz possible. Check out their
                    websites and come and visit their booths in the virtual expo on the day of the event.</p>

                {{ with .Site.Params.hero.buttonText }}
                <a href="https://hopin.com/events/global-azure-austria-2022/#sponsors" class="btn btn-primary btn-xl" target="_blank">Sponsors</a>
                {{ end }}            
            </div>
        </div>
    </div>
</section>
