{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="tickets">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Tickets</h2>

                <hr class="light">

                <!-- <p class="text-faded">Join us on Friday, April 16, 2022, at <a
                        href="https://www.megaplex.at/kino/hollywood-megaplex-pasching" target="_blank">Hollywood
                        Megaplex Pasching</a>. The tickets are free!
                </p>

                 -->
                <p class="text-faded"><b>We are sold out!</b></p>
                <p class="text-faded">Thank you to everyone who already registered for the conference. The response has
                    been overwhelming, and we are now at full capacity. Although it is no longer possible to register
                    directly, we have started a <a href="https://forms.gle/BeytEGJYEWsJd5ZZA" target="_blank">waiting
                        list</a>. Please sign up, and we will let you know if and when a space becomes available.</p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 text-center">
                <a class="btn btn-primary btn-block" href="https://forms.gle/BeytEGJYEWsJd5ZZA" target="_blank">Join
                    Waiting List</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p></p>
                <p class="text-faded">
                    If you already have a ticket and you won't make it to event, please be so
                    kind to cancel your reservation in Eventbrite or send a mail to <a
                        href="mailto:info@coderdojo-linz.org">info@coderdojo-linz.org</a>.
                </p>
            </div>
        </div>
    </div>
</section>