{{ "<!-- ABOUT -->" | safeHTML }}
<section class="" id="tickets">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Tickets</h2>

                <hr class="primary">

                <p class="text-muted">Komm zum Junior Bootcamp am Freitag, den 6. Mai 2022, im <a
                        href="https://www.megaplex.at/kino/hollywood-megaplex-pasching" target="_blank">Hollywood
                        Megaplex Pasching</a>. Die Tickets sind kostenfrei!
                </p>

                <p class="text-muted">
                    Wenn du bereits ein Tickets hast und doch nicht zum Event kommen kannst, storniere bitte dein Ticket
                    bei Eventbrite oder schicke uns eine Email an
                    <a href="mailto:info@coderdojo-linz.org">info@coderdojo-linz.org</a>.
                </p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 text-center">
                <a class="btn btn-primary btn-block"
                    href="https://www.eventbrite.de/e/global-azure-bootcamp-austria-2020-tickets-90274179501"
                    target="_blank">Anmelden</a>
            </div>
        </div>
    </div>
</section>