<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
    {{ partial "head.html" . }}
</head>

<body id="page-top">
    {{ partial "nav.html" . }}

    {{ partial "hero.html" . }}
    
    {{ partial "about.html" . }}

    {{ partial "call-for-participation.html" . }}

    {{ partial "sponsors.html" . }}

    {{ partial "speakers.html" . }}

    {{ partial "session-recordings.html" . }}

    {{ partial "contact.html" . }}

    {{ partial "js.html" . }}
</body>

</html>