<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
    {{ partial "head.html" . }}
</head>

<body id="page">
    {{ partial "nav.html" . }}
    
    <section id="speakers" class="speakers">
        <div class="row" id="mc_embed_signup">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Speakers</h2>
                    <hr/>
                </div>
            </div>

            <div class="row equal">
                {{ range sort $.Site.Data.sessionize.speakers ".lastName" }}
                <div class="col-md-3 col-sm-4 col-xs-12 text-center">
                    <div class="speaker" onclick="$('#{{ .id }}').modal({})">
                        <figure class="avatar"><img src="{{ .profilePicture }}" alt="{{ .firstName }} {{ .lastName }}">
                        </figure>
                        <h4>{{ .firstName }} {{ .lastName }}</h4>
                        <h5>{{ .tagLine }}</h5>
                    </div>
                </div>

                <div class="modal fade" id="{{ .id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">{{ .firstName }} {{ .lastName }}</h4>
                            </div>
                            <div class="modal-body speaker">
                                <h5><b>{{ .tagLine }}</b></h5>

                                <p class="text-muted bio">{{ .bio }}</p>

                                <h5><b>Sessions</b></h5>
                                <p class="sessions">
                                    {{ range where $.Site.Data.sessionize.sessions "id" "in" (apply .sessions "string" ".") }}
                                    
                                    <div><a href="/sessions#{{.id}}">{{ .title }}</a></div>
                                    {{ end }}
                                </p>

                                <h5><b>Links</b></h5>
                                <p>{{ range .links }}
                                    <div><a href="{{ .url }}" target="_blank">{{ .title }}</a></div>
                                    {{ end }}
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>

        </div>
    </section>

    {{ partial "contact.html" . }}

    {{ partial "js.html" . }}
</body>

</html>